body {
  margin: 20px;
  padding-left: 100px;
  padding-right: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

p {
  font-family: Roboto;
  margin-bottom: 0;
}

h1 {
  text-align: center;
}

div .right {
 float: right;
  width: 50%;
  text-align: center;
}

div .left {
  float: left;
  width: 50%;
  clear: left;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  text-align: center;
  float: center;
}

.tinder-info {
  display: inline-block;
}