.App {
  text-align: center;
}

.results{
  margin-left: auto;
  margin-right: auto;
}

.controlled-carousel {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 441px;
}

h2, p {
  color: black;
}

html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  margin: 10px;
}
      
blockquote {
  margin-top: 20px;
  float: right;
  margin-left: 250px;
  margin-right: 250px;
}

.carousel-caption {
  text-shadow: none;
}

div.tooltip {	
  position: absolute;			
  text-align: center;			
  width: 60px;					
  height: 28px;					
  padding: 2px;				
  font: 12px sans-serif;		
  background: lightsteelblue;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}

#chart path {
  fill: transparent;
  stroke: green;
}

button {
  -webkit-appearance: none;
  /* background: transparent; */
  border: 0;
  outline:0;
}
